.page-container{
    animation: .4s dropZone;
    margin-bottom: auto;
    min-height: 100vh;
}
.wrapper-container{
    background-color: rgb(233, 233, 233);
    min-height: 90vh;
}

.hover-card:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.cursor-pointer{
    cursor: pointer;
}

.fa-star, .fa-circle-notch{
    color: orange;
}

.img-cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* accordion */
.accordion-trigger{
    z-index: 10;
}

.accordion-child-hide {
    display: none;
    animation: .4s roll-out;
}

.accordion-child-show {
    z-index: 0;
    display: block;
}

.roll-out {
    animation: .4s rollout;
}


@keyframes rollout {
    0% {
      transform: translateX(-250px);
    }
    100% {
      transform: translateX(0);
    }
}

@keyframes dropZone {
    0% {
      transform: translateY(-25px);
    }
    100% {
      transform: translateY(0);
    }
}