.page-container{
    animation: .4s dropZone;
    margin-bottom: auto;
    min-height: 100vh;
}
.wrapper-container{
    background-color: rgb(233, 233, 233);
    min-height: 90vh;
}

.hover-card:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.cursor-pointer{
    cursor: pointer;
}

.fa-star, .fa-circle-notch{
    color: orange;
}

.img-cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* accordion */
.accordion-trigger{
    z-index: 10;
}

.accordion-child-hide {
    display: none;
    animation: .4s roll-out;
}

.accordion-child-show {
    z-index: 0;
    display: block;
}

.roll-out {
    animation: .4s rollout;
}


@keyframes rollout {
    0% {
      transform: translateX(-250px);
    }
    100% {
      transform: translateX(0);
    }
}

@keyframes dropZone {
    0% {
      transform: translateY(-25px);
    }
    100% {
      transform: translateY(0);
    }
}

/* error 404 */
.error-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.error-wrapper .title {
    font-size: 32px;
    font-weight: 700;
    color: #000;
}

.error-wrapper .info {
    font-size: 14px;
}

.home-btn, 
.home-btn:focus, 
.home-btn:hover, 
.home-btn:visited {
    text-decoration: none;
    font-size: 14px;
    color: #55aa29;
    padding: 17px 77px;
    border: 1px solid #55aa29;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    display: block;
    margin: 20px 0;
    width: max-content;
    background-color: transparent;
    outline: 0;
}

.man-icon {
    background: url('https://www.hotstar.com/assets/b5e748831c911ca02f9c07afc11f2ae5.svg') center center no-repeat;
    display: inline-block;
    height: 100px;
    width: 118px;
    margin-bottom: 16px;
}