.page-container{
    margin-bottom: auto;
    min-height: 90vh;
}
.wrapper-container{
    background-color: rgb(233, 233, 233);
    min-height: 90vh;
}

.hover-card:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.cursor-pointer{
    cursor: pointer;
}


.fa-star, .fa-circle-notch{
    color: orange;
}